Repository CodeForPhilly/clean-and-green-philly, pull requests merged in 2024-09, with the labels that each got.

#886 task: Ensure image corners are rounded consistently
  src/components/InfoGraphicSection.tsx
Labels: frontend

#888 Deploy Staging to Main branch
  src/app/(content-pages)/methodology/MethodologyPage.tsx
  src/components/InfoGraphicSection.tsx
Labels: bug, frontend

#880 Update Contributor Section in READ.ME
  README.md
Labels: frontend

#892 add prettierignore to exlcude ruff cache
  .prettierignore
  data/src/Pipfile.lock
  package-lock.json
Labels: backend, frontend

#895 Lebovits/issu751 add sonarqube
  .github/workflows/build.yml
  .gitignore
  sonar-project.properties
Labels: frontend

#907 Lebovits/fix backend pr checks
  .github/workflows/pr_checks_backend.yml
  data/docker-compose.yml
Labels: backend, frontend

#901 Dynamically determine parkserve URL
  data/src/Pipfile
  data/src/Pipfile.lock
  data/src/data_utils/park_priority.py
  data/src/test/test_data_utils.py
Labels: backend, frontend

#909 Lebovits/fix vercel deployment
  package-lock.json
  package.json
Labels: frontend

#905 Azbl/875 Fix and hyperlink PA horticultural society on homepage.
  src/app/(content-pages)/page.tsx
Labels: frontend

#906 Azbl/665 Make Before and After Text on Image Actual Text
  src/app/(content-pages)/transform-property/TransformPropertyPage.tsx
  src/images/beforeAfter.png
Labels: frontend

#912 Deploy Staging to Main branch
  .github/workflows/pr_checks_backend.yml
  .gitignore
  .prettierignore
  README.md
  data/docker-compose.yml
  data/src/Pipfile
  data/src/Pipfile.lock
  data/src/classes/featurelayer.py
  data/src/data_utils/city_owned_properties.py
  data/src/data_utils/deliquencies.py
  data/src/data_utils/drug_crimes.py
  data/src/data_utils/gun_crimes.py
  data/src/data_utils/imm_dang_buildings.py
  data/src/data_utils/negligent_devs.py
  data/src/data_utils/park_priority.py
  data/src/data_utils/phs_properties.py
  data/src/data_utils/priority_level.py
  data/src/data_utils/rco_geoms.py
  data/src/data_utils/unsafe_buildings.py
  data/src/script.py
  data/src/test/test_data_utils.py
  package-lock.json
  package.json
  src/app/(content-pages)/page.tsx
  src/app/(content-pages)/transform-property/TransformPropertyPage.tsx
  src/components/Footer.tsx
  src/images/beforeAfter.png
Labels: backend, frontend

#911 Lebovits/setup vulture and pylint
  .pre-commit-config.yaml
  data/pyproject.toml
  data/src/Pipfile
  data/src/Pipfile.lock
  data/src/test/test_data_utils.py
Labels: backend, frontend
