Repository CodeForPhilly/clean-and-green-philly, pull requests merged in 2024-10, with the labels that each got.

#921 fix postgis version, update backend docs
  data/Dockerfile-pg
  docs/SETUP/BACK_END.md
Labels: backend

#936 Lebovits/issu849 automate weekly pr to main
  .github/workflows/weekly-pr-to-main.yml
Labels: frontend

#939 remove data fetcher, fix park priority glitch, save pipeline output a…
  data/Dockerfile-fetch-data
  data/docker-compose.yml
  data/src/classes/featurelayer.py
  data/src/data_utils/park_priority.py
  data/src/fetch_and_save_data.py
  data/src/script.py
Labels: backend, frontend

#933 Replaced logo.svg with minified version
  public/logo.svg
Labels: frontend

#949 filter li complaints and violations for only blight-related instances
  data/src/data_utils/l_and_i.py
Labels: backend, frontend

#950 update owner types to include public
  data/src/data_utils/llc_owner.py
  data/src/data_utils/owner_type.py
  data/src/script.py
  src/components/FilterView.tsx
  src/components/Filters/DimensionFilter.tsx
Labels: backend, frontend

#951 Lebovits/issu919 fix land bank props
  data/src/data_utils/access_process.py
  data/src/data_utils/city_owned_properties.py
  data/src/data_utils/conservatorship.py
Labels: backend, frontend

#957 feature request 948: set up donation page
  src/app/(content-pages)/donate/DonatePage.tsx
  src/app/(content-pages)/donate/layout.tsx
  src/app/(content-pages)/donate/page.tsx
  src/components/Header.tsx
  src/components/MobileNav.tsx
Labels: frontend

#959 Deploy Staging to Main branch
  docs/SETUP/BACK_END.md
  src/app/(content-pages)/donate/DonatePage.tsx
  src/app/(content-pages)/donate/layout.tsx
  src/app/(content-pages)/donate/page.tsx
  src/components/Header.tsx
  src/components/MobileNav.tsx
Labels: documentation, frontend

#960 Lebovits/issu946 add backup vacant land data
  data/docker-compose.yml
  data/src/classes/featurelayer.py
  data/src/data_utils/access_process.py
  data/src/data_utils/drug_crimes.py
  data/src/data_utils/gun_crimes.py
  data/src/data_utils/kde.py
  data/src/data_utils/priority_level.py
  data/src/data_utils/rco_geoms.py
  data/src/data_utils/vacant_properties.py
  data/src/script.py
Labels: backend, frontend

#961 Staging
  data/docker-compose.yml
  data/src/classes/featurelayer.py
  data/src/data_utils/access_process.py
  data/src/data_utils/drug_crimes.py
  data/src/data_utils/gun_crimes.py
  data/src/data_utils/kde.py
  data/src/data_utils/priority_level.py
  data/src/data_utils/rco_geoms.py
  data/src/data_utils/vacant_properties.py
  data/src/script.py
Labels: backend, frontend

#962 Fix for a glitch caused by changes to PHS data
  data/src/constants/services.py
  data/src/data_utils/phs_properties.py
  data/src/data_utils/priority_level.py
Labels: backend, frontend

#956 amberroseweeks-917-data-disclaimer
  src/app/find-properties/[[...opa_id]]/page.tsx
  src/components/DataDisclaimerModal.tsx
Labels: frontend

#964 Deploy Staging to Main branch
  src/app/find-properties/[[...opa_id]]/page.tsx
  src/components/DataDisclaimerModal.tsx
Labels: frontend

#965 Front-end fixes
  src/components/FilterView.tsx
  src/components/PropertyCard.tsx
  src/components/PropertyDetailSection.tsx
  src/components/SinglePropertyDetail.tsx
Labels: frontend

#966 Lebovits/fix phs and duplicates
  data/src/classes/featurelayer.py
  data/src/data_utils/access_process.py
  data/src/data_utils/phs_properties.py
  data/src/data_utils/priority_level.py
  data/src/data_utils/vacant_properties.py
  data/src/script.py
Labels: backend, frontend

#967 Staging
  data/src/classes/featurelayer.py
  data/src/data_utils/access_process.py
  data/src/data_utils/phs_properties.py
  data/src/data_utils/priority_level.py
  data/src/data_utils/vacant_properties.py
  data/src/script.py
  src/components/FilterView.tsx
  src/components/PropertyCard.tsx
  src/components/PropertyDetailSection.tsx
  src/components/SinglePropertyDetail.tsx
Labels: backend, frontend

#968 Lebovits/issu848 report backend errors to slack
  data/src/classes/slack_error_reporter.py
  data/src/script.py
  data/src/test/test_slack_error_reporter.py
Labels: backend, frontend

#973 fix issue with empty strings
  data/src/data_utils/negligent_devs.py
Labels: backend, frontend

#974 quick fix for labeling percentiles issue
  data/src/data_utils/kde.py
Labels: backend, frontend

#985 fix donate option not visible in mobile nav dropdown
  src/app/globals.css
Labels: frontend
