Repository CodeForPhilly/clean-and-green-philly, pull requests merged in 2024-12, with the labels that each got.

#1036 restore deleted files from src/
  data/src/classes/featurelayer.py
  data/src/constants/services.py
Labels: backend, frontend

#1037 Lebovits/issu1015 cleanup new pipeline
  data/src/Pipfile
  data/src/Pipfile.lock
  data/src/main.py
  data/src/new_etl/classes/data_diff.py
  data/src/new_etl/classes/featurelayer.py
  data/src/new_etl/classes/slack_reporters.py
  data/src/new_etl/data_utils/__init__.py
  data/src/new_etl/data_utils/city_owned_properties.py
  data/src/new_etl/data_utils/community_gardens.py
  data/src/new_etl/data_utils/conservatorship.py
  data/src/new_etl/data_utils/contig_neighbors.py
  data/src/new_etl/data_utils/council_dists.py
  data/src/new_etl/data_utils/delinquencies.py
  data/src/new_etl/data_utils/dev_probability.py
  data/src/new_etl/data_utils/drug_crimes.py
  data/src/new_etl/data_utils/gun_crimes.py
  data/src/new_etl/data_utils/imm_dang_buildings.py
  data/src/new_etl/data_utils/kde.py
  data/src/new_etl/data_utils/li_complaints.py
  data/src/new_etl/data_utils/nbhoods.py
  data/src/new_etl/data_utils/negligent_devs.py
  data/src/new_etl/data_utils/opa_properties.py
  data/src/new_etl/data_utils/ppr_properties.py
  data/src/new_etl/data_utils/priority_level.py
  data/src/new_etl/data_utils/pwd_parcels.py
  data/src/new_etl/data_utils/rco_geoms.py
  data/src/new_etl/data_utils/tree_canopy.py
  data/src/new_etl/data_utils/unsafe_buildings.py
  data/src/new_etl/data_utils/vacant_properties.py
  data/src/new_etl/database.py
  data/src/new_etl/loaders.py
Labels: backend, frontend

#1049 Revert "remove references to mapbox key, which we are no longer using"
  data/docker-compose.yml
  data/src/config/config.py
  data/src/script.py
  src/config/config.ts
Labels: bugfix

#1050 Hotfix for critical bug 1043
  package-lock.json
  package.json
  src/components/MapLegendControl/MapLegend.tsx
  src/components/PropertyMap.tsx
  src/config/config.ts
Labels: frontend, bugfix, hold don't merge

#1051 Reconciling staging with main
  package-lock.json
  package.json
  src/components/MapLegendControl/MapLegend.tsx
  src/components/PropertyMap.tsx
  src/config/config.ts
Labels: frontend

#1059 Fixes Styling Issues Within Header
  src/app/globals.css
  src/components/Header.tsx
  src/components/IconLink.tsx
Labels: frontend

#1060 Hides extra map elements
  src/app/globals.css
  src/components/PropertyMap.tsx
Labels: frontend
