Repository CodeForPhilly/clean-and-green-philly, pull requests merged in 2024-08, with the labels that each got.

#862 Merge staging into main
  .github/workflows/pr_checks_backend.yml
  .gitignore
  .pre-commit-config.yaml
  .vscode/settings.json
  data/Dockerfile-fetch-data
  data/docker-compose.yml
  data/src/Pipfile
  data/src/Pipfile.lock
  data/src/config/config.py
  data/src/data_utils/__init__.py
  data/src/data_utils/access_process.py
  data/src/data_utils/conservatorship.py
  data/src/data_utils/contig_neighbors.py
  data/src/data_utils/deliquencies.py
  data/src/data_utils/dev_probability.py
  data/src/data_utils/negligent_devs.py
  data/src/fetch_and_save_data.py
  docs/SETUP/BACK_END.md
  docs/SETUP/FRONT_END.md
  src/app/(content-pages)/transform-property/TransformPropertyPage.tsx
  src/components/ContentCard.tsx
Labels: backend, frontend

#865 jgrimes86/861 dropdown display bug fix
  src/components/Filters/DimensionFilter.tsx
  src/components/Filters/MultiSelect.tsx
Labels: frontend

#866 Deploy Staging to Main branch (bugfix)
  src/components/Filters/DimensionFilter.tsx
  src/components/Filters/MultiSelect.tsx
Labels: bug, frontend

#869 Remove hr from Screen Reader
  src/app/(content-pages)/accessibility-statement/AccessibilityStatementPage.tsx
Labels: frontend

#868 fix typos in a11y statement
  src/app/(content-pages)/accessibility-statement/AccessibilityStatementPage.tsx
Labels: frontend

#871 fix footer a11y issue
  src/components/Footer.tsx
Labels: frontend

#872 adjust link for a11y
  src/app/(content-pages)/accessibility-statement/AccessibilityStatementPage.tsx
Labels: frontend

#873 Deploy Staging to Main branch
  src/app/(content-pages)/accessibility-statement/AccessibilityStatementPage.tsx
  src/components/Footer.tsx
Labels: frontend

#883 Fix GitHub repository link redirect issue on Methodology page (#878)
  src/app/(content-pages)/methodology/MethodologyPage.tsx
Labels: frontend
