Repository CodeForPhilly/clean-and-green-philly, pull requests merged in 2024-07, with the labels that each got.

#722 619: Change tailwind config and add new contrast friendly blue
  src/app/(content-pages)/transform-property/TransformPropertyPage.tsx
  src/app/globals.css
  src/components/ContentCard.tsx
  tailwind.config.ts
Labels: A11y

#732 Michael dratch/712 error message if map fails to load
  src/app/find-properties/[[...opa_id]]/page.tsx
  src/components/PropertyDetailSection.tsx
  src/components/PropertyMap.tsx
Labels: frontend

#739 Issue 645: schedule backend job on GCP
  data/docker-compose.yml
  data/src/classes/diff_report.py
  data/src/classes/featurelayer.py
  data/src/config/config.py
  data/src/script.py
  docs/SETUP/BACK_END.md
Labels: python, backend

#742 623-saved-button-aria
  src/components/SinglePropertyDetail.tsx
Labels: A11y

#758 add dependabot yml to keep ghactions, npm. and pip dependencies up to…
  .github/dependabot.yml
Labels: devops

#756 get pr_checks_backend.yml working
  .github/workflows/pr_checks_backend.yml
  .vscode/settings.json
Labels: devops

#755 Zheyichn/748 street view icon fix
  src/components/SinglePropertyDetail.tsx
Labels: A11y

#750 Zheyichn/746 rake icon contrast fix
  src/components/icons/Rake.tsx
Labels: A11y

#752 Lebovits/issu643 add frontend formatting check
  .eslintrc.json
  .github/workflows/pr_checks.yaml
  .prettierrc
Labels: devops, merge conflict

#708 Lebovits/fix backend issues
  data/Dockerfile
  docs/SETUP/BACK_END.md
Labels: documentation, backend, merge conflict

#795 Lebovits/issu791 automate pr mgmt
  .github/auto_assign.yml
  .github/labeler.yml
  .github/workflows/flag-stale-prs.yml
  .github/workflows/label-and-assign.yml
Labels: backend, frontend

#798 Dependabot testing
  .github/dependabot.yml
Labels: frontend

#809 fix issue with node version, release drafter github token
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
Labels: frontend

#814 Test release
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
Labels: frontend

#815 Test release drafter
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: frontend

#816 Staging
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
Labels: backend, frontend

#818 Staging
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
Labels: frontend

#819 Lebovits/temporarily disable release workflows
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
Labels: frontend

#820 Staging
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
Labels: frontend

#821 temporarily disable release and release-drafter workflows
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
Labels: frontend

#823 822: Fix deployment failure bug
  .eslintrc.json
  src/app/find-properties/[[...opa_id]]/page.tsx
  src/components/ContentCard.tsx
  src/components/Header.tsx
  src/components/Hotjar.tsx
  src/components/MapLegendControl/MapLegendControl.tsx
  src/components/PropertyCard.tsx
  src/components/PropertyDetailSection.tsx
Labels: bug, frontend

#825 Deploy Staging to Main branch (bugfix)
  .eslintrc.json
  src/app/find-properties/[[...opa_id]]/page.tsx
  src/components/ContentCard.tsx
  src/components/Header.tsx
  src/components/Hotjar.tsx
  src/components/MapLegendControl/MapLegendControl.tsx
  src/components/PropertyCard.tsx
  src/components/PropertyDetailSection.tsx
Labels: bug, frontend

#827 822: Fix deployment failure bug — revert mapbox-gl to v3.2.0
  package.json
  src/components/Filters/MultiSelect.tsx
Labels: bug

#828 Deploy Staging to Main branch (bugfix)
  package.json
  src/components/Filters/MultiSelect.tsx
Labels: bug, frontend

#813 Fix gun violence graph in WHCM.
  src/components/InfoGraphicSection.tsx
  src/components/components-css/InfoGraphicSection.css
Labels: frontend

#833 767: Enable GitHub Workflows for release drafter and semantic release
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
Labels: devops, frontend

#834 Deploy Staging to Main branch
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  src/components/InfoGraphicSection.tsx
  src/components/components-css/InfoGraphicSection.css
Labels: frontend

#835 767: Fix issue with release version number
  .github/release-drafter.yml
Labels: devops, frontend

#836 Deploy Staging to Main branch
  .github/release-drafter.yml
Labels: frontend

#844 add script to query database in docker container and write a local sp…
  .github/workflows/pr_checks_backend.yml
  .gitignore
  data/Dockerfile-fetch-data
  data/docker-compose.yml
  data/src/Pipfile
  data/src/Pipfile.lock
  data/src/config/config.py
  data/src/fetch_and_save_data.py
Labels: backend, frontend

#845 Lebovits/issu841 switch to ruff
  .github/workflows/pr_checks_backend.yml
  .vscode/settings.json
  data/docker-compose.yml
Labels: backend, frontend

#842 Add precommit hook
  .pre-commit-config.yaml
  docs/SETUP/BACK_END.md
  docs/SETUP/FRONT_END.md
Labels: devops, frontend

#847 fix docker formatting and linting
  data/docker-compose.yml
Labels: backend, frontend

#831 add outlines to content cards
  src/app/(content-pages)/transform-property/TransformPropertyPage.tsx
  src/components/ContentCard.tsx
Labels: frontend
