Repository CodeForPhilly/clean-and-green-philly, pull requests merged in 2025-04, with the labels that each got.

#1147 Task: #1146 fix `pr_checks_backend`
  .github/workflows/pr_checks_backend.yml
  CHANGELOG.md
  data/Dockerfile-pg
  data/Dockerfile-timescale
  data/src/config/config.py
  data/src/data_utils/city_owned_properties.py
  data/src/new_etl/classes/featurelayer.py
  data/src/new_etl/database.py
Labels: backend, frontend

#1103 Task: #1011 Consolidate release and release-drafter workflows
  .github/hooks/commit-msg
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  .github/workflows/release.yml
  .releaserc
  docs/CONTRIBUTING.md
  docs/SETUP/BACK_END.md
  docs/SETUP/FRONT_END.md
  package-lock.json
  package.json
Labels: frontend, stale, hold don't merge

#1168 Update PLB Link
  src/app/(content-pages)/get-access/GetAccessPage.tsx
Labels: frontend

#1169 Fix: 1159 merge on opa_id in pwd_parcels
  data/src/new_etl/data_utils/pwd_parcels.py
  data/src/test/test_data_utils.py
Labels: backend, frontend

#1165 Migrate eslint config to support v9 and update Next dependency
  .eslintrc.json
  CHANGELOG.md
  eslint.config.js
  package-lock.json
  package.json
  tsconfig.json
Labels: frontend

#1164 Refactor filters logic
  package-lock.json
  src/components/FilterView.tsx
  src/components/Filters/ButtonGroup.tsx
  src/components/Filters/DimensionFilter.tsx
  src/components/Filters/FilterDescription.tsx
  src/components/Filters/MultiSelect.tsx
  src/components/Filters/Panel.tsx
  src/components/Filters/Panels.tsx
  src/components/PropertyAccessOptionCard.tsx
  src/components/PropertyAccessOptionContainer.tsx
  src/config/propertyAccessOptions.tsx
Labels: frontend, stale

#1179 Configure dependabot to ignore major version updates to key dependencies
  .github/dependabot.yml
  eslint.config.mjs
  tsconfig.json
Labels: frontend

#1180 Pin backend dependencies to minor version according to lockfile
  data/pyproject.toml
  data/src/Pipfile
  data/src/Pipfile.lock
Labels: backend, frontend

#1184 Basic technologies documentation
  .gitignore
  data/src/new_etl/data_utils/pwd_parcels.py
  docs/TECHNOLOGIES.md
Labels: backend, frontend

#1177 feat: Unvendor awkde
  .github/workflows/pr_checks_backend.yml
  .gitignore
  .pre-commit-config.yaml
  data/Dockerfile
  data/docker-compose.yml
  data/pyproject.toml
  data/src/Pipfile
  data/src/Pipfile.lock
  data/src/awkde/LICENSE
  data/src/awkde/README.md
  data/src/awkde/awkde.egg-info/PKG-INFO
  data/src/awkde/awkde.egg-info/SOURCES.txt
  data/src/awkde/awkde.egg-info/dependency_links.txt
  data/src/awkde/awkde.egg-info/requires.txt
  data/src/awkde/awkde.egg-info/top_level.txt
  data/src/awkde/awkde/__init__.py
  data/src/awkde/awkde/awkde.py
  data/src/awkde/awkde/backend.cpython-310-x86_64-linux-gnu.so
  data/src/awkde/awkde/backend.cpython-311-darwin.so
  data/src/awkde/awkde/backend.cpython-311-x86_64-linux-gnu.so
  data/src/awkde/awkde/tools.py
  data/src/awkde/build/lib.linux-x86_64-3.10/awkde/backend.cpython-310-x86_64-linux-gnu.so
  data/src/awkde/build/temp.linux-x86_64-3.10/cpp/backend.o
  data/src/awkde/cpp/backend.cpp
  data/src/awkde/example/example.png
  data/src/awkde/example/example.py
  data/src/awkde/example/example_KDE.json
  data/src/awkde/pyproject.toml
  data/src/awkde/setup.py
  data/src/awkde/tex/kernel_dens.png
  data/src/awkde/tex/lambda.png
  data/src/awkde/tex/log_g.png
  data/src/main.py
  data/src/script.py
Labels: backend, frontend
