Repository CodeForPhilly/clean-and-green-philly, pull requests merged in 2025-02, with the labels that each got.

#1097 Bugfix - prevent losing focus when filtering
  src/components/SidePanelControlBar.tsx
Labels: frontend

#1098 Deploy Staging to Main branch
  .github/workflows/flag-stale.yml
  src/components/SidePanelControlBar.tsx
Labels: frontend, bugfix

#1100 Task 1089 remove inactive reviewer
  .github/auto_assign.yml
Labels: devops

#1102 Task 1087: fix pr template
  .github/pull_request_template.md
Labels: frontend

#1104 Fix: map search box opens profile for wrong addresses
  src/components/PropertyMap.tsx
Labels: frontend, bugfix

#1107 Fix: Closing tooltip popup on map closes property details
  src/components/PropertyMap.tsx
Labels: frontend

#1108 Create data_exploration.ipnyb
  data/notebooks/data_exploration.ipnyb
Labels: backend

#1106 Fix: #1019 fix-card-padding
  src/app/globals.css
  src/components/PropertyCard.tsx
  src/components/SidePanel.tsx
Labels: frontend

#1110 Cross-spawn Vulnerability Fix and Other Audit Fixes
  package-lock.json
  package.json
Labels: frontend
