Repository CodeForPhilly/clean-and-green-philly, pull requests merged in 2025-03, with the labels that each got.

#1113 Deploy Staging to Main branch
  package-lock.json
  package.json
Labels: bugfix

#1115 Edited heading line spacing
  src/app/(content-pages)/get-access/GetAccessPage.tsx
  src/app/globals.css
Labels: frontend

#1114 Key-in filtering for neighborhood search and other filters
  package-lock.json
  package.json
  src/components/Filters/MultiSelect.tsx
  src/components/Filters/MultiSelectVariants.tsx
Labels: frontend, stale

#1122 Task: 1010 setup pytest
  .github/workflows/pr_checks_backend.yml
  data/src/classes/backup_archive_database.py
  data/src/classes/featurelayer.py
  data/src/test/conftest.py
  data/src/test/test_data_utils.py
  data/src/test/test_diff_backup.py
  data/src/test/test_slack_error_reporter.py
  package-lock.json
Labels: backend, frontend

#1128 update codeowners
  .github/CODEOWNERS
Labels: frontend

#1133 Task: #1029 Adds a decorator to collect metadata and documents the new ETL pipeline
  data/src/main.py
  data/src/new_etl/classes/featurelayer.py
  data/src/new_etl/data_utils/access_process.py
  data/src/new_etl/data_utils/city_owned_properties.py
  data/src/new_etl/data_utils/community_gardens.py
  data/src/new_etl/data_utils/conservatorship.py
  data/src/new_etl/data_utils/contig_neighbors.py
  data/src/new_etl/data_utils/council_dists.py
  data/src/new_etl/data_utils/delinquencies.py
  data/src/new_etl/data_utils/dev_probability.py
  data/src/new_etl/data_utils/drug_crimes.py
  data/src/new_etl/data_utils/gun_crimes.py
  data/src/new_etl/data_utils/imm_dang_buildings.py
  data/src/new_etl/data_utils/li_complaints.py
  data/src/new_etl/data_utils/li_violations.py
  data/src/new_etl/data_utils/nbhoods.py
  data/src/new_etl/data_utils/negligent_devs.py
  data/src/new_etl/data_utils/opa_properties.py
  data/src/new_etl/data_utils/owner_type.py
  data/src/new_etl/data_utils/park_priority.py
  data/src/new_etl/data_utils/phs_properties.py
  data/src/new_etl/data_utils/ppr_properties.py
  data/src/new_etl/data_utils/priority_level.py
  data/src/new_etl/data_utils/pwd_parcels.py
  data/src/new_etl/data_utils/rco_geoms.py
  data/src/new_etl/data_utils/tactical_urbanism.py
  data/src/new_etl/data_utils/tree_canopy.py
  data/src/new_etl/data_utils/unsafe_buildings.py
  data/src/new_etl/data_utils/vacant_properties.py
  data/src/new_etl/metadata/metadata_utils.py
  data/src/test/test_metadata_utils.py
  docs/ETL pipeline/DAG.md
  docs/ETL pipeline/DataDict.md
Labels: backend, frontend

#1140 chore: add missing imports to new ETL pipeline
  data/src/main.py
Labels: backend, frontend
