Repository CodeForPhilly/clean-and-green-philly, pull requests merged in 2025-01, with the labels that each got.

#1063 Fixes aria error
  src/components/ThemeButton.tsx
Labels: frontend

#1068 Fix issue with property address search not working
  data/src/Pipfile.lock
  docs/SETUP/BACK_END.md
  package-lock.json
  package.json
  src/components/MapLegendControl/MapLegend.tsx
  src/components/PropertyMap.tsx
Labels: bug, backend, frontend, hold don't merge

#1064 Filtering for only main zones
  src/components/Filters/filterOptions.ts
  src/components/PropertyMap.tsx
Labels: frontend

#1073 Revert "Filtering for only main zones"
  src/components/Filters/filterOptions.ts
  src/components/PropertyMap.tsx
Labels: frontend, bugfix

#1071 Deploy Staging to Main branch
  data/src/Pipfile.lock
  docs/SETUP/BACK_END.md
  package-lock.json
  package.json
  src/components/MapLegendControl/MapLegend.tsx
  src/components/PropertyMap.tsx
Labels: frontend

#1075 Filters By Main Property Zones
  src/components/Filters/filterOptions.ts
  src/components/PropertyMap.tsx
Labels: frontend

#1076 Expand hover styles on buttons to fill mobile menu
  src/components/IconLink.tsx
Labels: frontend

#1082 Allow hover styles on screens below 640px
  src/app/globals.css
Labels: frontend

#1081 Add tabIndex to mobile nav toggle
  src/components/MobileNav.tsx
Labels: frontend

#1091 TASK [#1090] : Stop GitHub Actions from adding "stale" labels to issues
  .github/workflows/flag-stale.yml
Labels: frontend
